@charset "UTF-8";

/* ---------------------------------------------- /*
 * Reset
/* ---------------------------------------------- */

@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

::selection {background:#01b0c0; color:#FFF; text-shadow:none;}
::-moz-selection {background:#01b0c0; color:#FFF; text-shadow:none;}
::-webkit-selection {background:#01b0c0; color:#FFF; text-shadow:none;}

* {
font-family: "Noto Sans KR", sans-serif !important;
color:#2d2e38;
line-height:140% !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
   overflow-x: hidden;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   color: #E7746F;
}

a:hover {
   cursor: pointer;
   text-decoration: none;
   color: #999;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Noto Sans KR", sans-serif !important;
/*   text-transform: uppercase;*/
   margin: 5px 0 5px;
   font-weight:bold;
}

h2 {
   font-size: 48px;
}

h3 {
   font-size: 13px;
}

h4 {
   font-size: 12px;
}

h5 {
   font-size: 12px;
   font-weight: 400;
}

h6 {
   font-size: 11px;
}

p {font-size:14px;}



/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.gnbWrap {padding:0px;}
.gnbBg {background-color:#283847;}
.gnbArea {padding:0px;}
.gnbLine {
width:100%; height:5px;
background: #45ba75; /* Old browsers */
background: -moz-linear-gradient(left,  #45ba75 0%, #4eabe0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #45ba75 0%,#4eabe0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #45ba75 0%,#4eabe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45ba75', endColorstr='#4eabe0',GradientType=1 ); /* IE6-9 */
}
@media (max-width: 480px) {.gnbLine {height:3px;}}

.header {   
   position: relative;
   width: 100%;
   z-index: 998;
}

.caret {color:#fff !important; margin-left:4px;}

.header > nav {background-color:transparent; width:100%;}

.navbar-custom {
   border: 0;
   border-radius: 0;
   margin: 0;
   text-transform: uppercase;
   font-family: 'NanumGothic','       ','ng','sans-serif';
}

.navbar-custom,
.navbar-custom .dropdown-menu {
   background: #fff;
   padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
   font-size: 13px;
   letter-spacing: 3px;
   color: #fff !important;
   font-weight: bold;
   letter-spacing:-0.005em;
}

.navbar-custom .navbar-nav .dropdown-menu > li > a {
   font-size: 13px;
   font-weight: bold;
}


.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
   background: none;
   outline: 0;
   color: #4eabe0 !important;
}

.navbar-custom .navbar-brand {
   display:inline-block;
   padding:11px 15px;
}

.navbar-custom .dropdown-menu {
   border: 0;
   border-top: 3px solid #4eabe0;
   border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
   padding: 10px 20px;
}

.navbar-custom .dropdown-menu > li > a:hover {
   background:#4eabe0 !important; color:#fff !important;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
   background: transparent;
}

.navbar-custom .dropdown-menu > li > a > span {color:#fff !important;}

.navbar-custom .navbar-toggle {
   margin-right:25px;
}

.navbar-custom .navbar-toggle .icon-bar {
   background: #222;
}

.icon-bar {background:#fff !important;}


.navbar a,
.form-control {
   -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
       -o-transition: all 0.4s ease-in-out 0s;
         transition: all 0.4s ease-in-out 0s;
}

.dropdown:hover .dropdown-menu {
    /*display: block;*/
    margin-top: 0; 
 }

a,
.btn {
   -webkit-transition: all 0.125s ease-in-out 0s;
      -moz-transition: all 0.125s ease-in-out 0s;
      -ms-transition: all 0.125s ease-in-out 0s;
       -o-transition: all 0.125s ease-in-out 0s;
         transition: all 0.125s ease-in-out 0s;
}

@media screen  and (min-width: 481px) and (max-width: 767px) {
   h2 {font-size: 24px;}
}

@media (max-width: 480px) {
   h2 {font-size: 24px;}
}

@media (max-width: 767px) {
   
   .navbar-custom .navbar-brand,
   .navbar-custom .navbar-nav > li > a {
   padding-left:30px;
   }

   .navbar-custom .navbar-nav .dropdown-menu > li > a {
      color: #fff !important;
   }
   
   .navbar-custom .navbar-brand {
   margin-left:15px;
   }

   .navbar-custom .navbar-nav .dropdown-menu > li > a {
   padding-left:40px;
   }

}

#undefined-sticky-wrapper {height:auto !important;}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

.footerBack {background-color:#283847; padding:0px; padding-top:30px;}
.footerBack ul {display:block;}
.footerBack ul li {display:block; color:#fff !important; font-size:14px;}
.footerBack ul li:first-child {margin-bottom:20px;}
/* .footerBg strong {color:#4eabe0 !important; font-weight:bold;} */
.blue {color: #4eabe0; font-weight: bold;}

.footerLine {
width:100%; padding:12px 0px; margin-top:30px;
background: linear-gradient(to right, #4eabe0, #45ba75); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45ba75', endColorstr='#4eabe0',GradientType=1 ); /* IE6-9 */
}

.footerLine span {vertical-align:middle; margin-left:20px; font-size:14px; color:#fff !important;}
.footerLine img {vertical-align:middle;}

@media (max-width: 767px) {
.footerBg ul li {font-size:11px !important; color:#fff !important; letter-spacing:-0.05em;}
.footerLine span {font-size:11px !important; color:#fff !important; letter-spacing:-0.05em;}
.footerLine img {width:80px;}

}
/* ---------------------------------------------- /*
 * main 화면 css - 신영
/* ---------------------------------------------- */
.main-4-wrap {padding:100px 0px; text-align:center; background:url("../img/main/main_bg02.jpg") center top no-repeat; background-size:cover;}
.main-4-wrap a {display:inline-block; margin-top:20px;}
.main-4-icons {display:inline-block;}
.main-4-wrap li {display:inline-block; float:left; margin-bottom:60px; width:20%; padding:0px 5px;}
.main-3-wrap {
    text-align: center;
    padding: 100px 0px;
}
.main-3-wrap>.main-titles>* {
   color: inherit;
    text-align: center;
}
.main-3-wrap h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 25px;
    letter-spacing: -0.05em;
    color: #2f3e47;
}
.main-3-wrap .col-sm-3 p {
    color: #a4adb3;
    font-size: 16px;
    line-height: 1.8 !important;
    letter-spacing: -0.05em;
}
#main-3-titles-color{
   color: #2D2E38;
}
#mainAni06 {
   margin-top: 50px;
   padding-top: 50px;
}
.main-3-content {
   margin-bottom: 40px;
}
@media (max-width: 767px) {
.main-03-wrap a {width:180px;}
.main-03-wrap h2 {
    padding-bottom: 44px;
    margin-bottom: 30px;
    background: url("../img/main/main_img01.png") center bottom no-repeat;
    font-weight: 100;
    letter-spacing: -0.075em;
    font-size: 24px;
}
}
/*
.main-4-wrap h2 {
    padding-bottom: 44px;
    margin-bottom: 30px;
    color: #fff !important;
    font-size: 44px;
    font-weight: 100;
    letter-spacing: -0.075em;
}
*/

.img-wrap {
   width: 100%;
}   
.main-5-wrap{
   position: relative;
   background: url(../img/main/main_bg02.jpg) center top no-repeat;
   background-size: cover;
   padding: 100px 0px;
}
.main-5-wrap-sub{
   position: absolute;
   top: 10%;
   left: 10%;
   text-align: center;
}
.main-5-icons > ul > li {
   display: inline;
   background-color: red;
}
.main-5-title {
   margin: 30px auto;
}
.main-titles {
   text-align: center;
}

/* ---------------------------------------------- /*
 * footer 스타일 - 신영
/* ---------------------------------------------- */

.footer>a, .footerBack ul li:nth-child(2) {
   color: #fff;
}    
.footerBack {
   padding: 0px;
   padding-top:30px;
}
#xx{
   color: #fff;
}
/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
   position: fixed;
   display: none;
   z-index: 999;
   bottom: 2em;
   right: 2em;
}

.scroll-up a {
   background-color: rgba(135, 135, 135, 0.5);
   display: block;
   width: 40px;
   height: 40px;
   text-align: center;
   color: #fff;
   font-size: 15px;
   line-height: 40px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
   border-radius:4px;
}

.scroll-up a span {
   color: #ddd;
}

.scroll-up a:hover,
.scroll-up a:active {
   background-color: rgba(135, 135, 135, 1.0);
   color: #e7746f;
}