<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huation.home.reply.ReplyMapper" >
	<insert id="insertReply" parameterType="huation.home.reply.ReplyDTO">
		insert into reply (reply_no,qna_no,reply_content,reply_date) values (#{replyNo},#{qnaNo},#{replyContent},date_format(NOW(), '%Y-%m-%d'))
	</insert>
	<select id="getReply" parameterType="int" resultType="huation.home.reply.ReplyDTO">
		select * from reply where qna_no=#{qnaNo}
	</select>
	<update id="updateReply"  parameterType="huation.home.reply.ReplyDTO">
		update reply set reply_content=#{replyContent},reply_date=date_format(NOW(), '%Y-%m-%d')
	</update>
	<delete id="deleteReply" parameterType="int">
		delete from reply where reply_no = #{replyNo}
	</delete>
</mapper>