<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="huation.home.admin.AdminMapper">
	
	<insert id = "insertAdmin" parameterType = "huation.home.admin.AdminDto">
			insert into admin_board(name,subject,contact,email,content,type)
			values(#{name},#{subject},#{contact},#{email},#{content},#{type})
	</insert>
	
	<select id = "detailAdmin" resultType = "hashMap">
			select * from admin_board where board_id = 1
	</select>
</mapper>